@import "tailwindcss";

@font-face {
  font-family: 'Unbounded';
  src: url('/public/font/Unbounded-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/public/font/HelveticaNeueLight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
